NET "clk" LOC = P57;

# NET "rst_n" LOC = P111;
# NET "debug[0]" LOC = P113 | IOSTANDARD = LVTTL;
# NET "debug[1]" LOC = P114 | IOSTANDARD = LVTTL;

NET "clk" IOSTANDARD = LVCMOS33;

# NET "rst_n" IOSTANDARD = LVTTL   ;



NET seg71_d<6>  LOC = P31 | IOSTANDARD = LVTTL;
NET seg71_d<1>  LOC = P30 | IOSTANDARD = LVTTL;
NET seg71_d<5>  LOC = P27 | IOSTANDARD = LVTTL;
NET seg71_d<2>  LOC = P21 | IOSTANDARD = LVTTL;
NET seg71_d<3>  LOC = P20 | IOSTANDARD = LVTTL;
NET seg71_d<4>  LOC = P15 | IOSTANDARD = LVTTL;
NET seg71_d<0>  LOC = P13 | IOSTANDARD = LVTTL;

NET seg71_sel<0>  LOC = P32 | IOSTANDARD = LVTTL;
NET seg71_sel<1>  LOC = P29 | IOSTANDARD = LVTTL;
NET seg71_sel<2>  LOC = P28 | IOSTANDARD = LVTTL;
NET seg71_sel<3>  LOC = P12 | IOSTANDARD = LVTTL;

NET o_G1  LOC = P10 | IOSTANDARD = LVTTL;
NET o_Y1  LOC = P7 | IOSTANDARD = LVTTL;
NET o_R2_L  LOC = P3 | IOSTANDARD = LVTTL;
NET o_R2  LOC = P126 | IOSTANDARD = LVTTL;
NET SN74HC595_data  LOC = P4 | IOSTANDARD = LVTTL;
NET SN74HC595_refresh_clk  LOC = P5 | IOSTANDARD = LVTTL;
NET SN74HC595_data_clk  LOC = P6 | IOSTANDARD = LVTTL;

NET Key_plus  LOC = P110 | IOSTANDARD = LVTTL;
NET Key_sub  LOC = P111 | IOSTANDARD = LVTTL;
NET Key_state<0>  LOC = P113 | IOSTANDARD = LVTTL;
NET Key_state<1>  LOC = P114 | IOSTANDARD = LVTTL;

NET seg72_d<2>  LOC = P76 | IOSTANDARD = LVTTL;
NET seg72_d<3>  LOC = P77 | IOSTANDARD = LVTTL;
NET seg72_d<4>  LOC = P79 | IOSTANDARD = LVTTL;
NET seg72_d<0>  LOC = P90 | IOSTANDARD = LVTTL;
NET seg72_d<6>  LOC = P93 | IOSTANDARD = LVTTL;
NET seg72_d<1>  LOC = P102 | IOSTANDARD = LVTTL;
NET seg72_d<5>  LOC = P105 | IOSTANDARD = LVTTL;

NET seg72_sel<3>  LOC = P91 | IOSTANDARD = LVTTL;
NET seg72_sel<0>  LOC = P92 | IOSTANDARD = LVTTL;
NET seg72_sel<1>  LOC = P103 | IOSTANDARD = LVTTL;
NET seg72_sel<2>  LOC = P104 | IOSTANDARD = LVTTL;