NET "clk" LOC = P57;

NET "rst_n" LOC = P111;
NET "debug[0]" LOC = P113 | IOSTANDARD = LVTTL;
NET "debug[1]" LOC = P114 | IOSTANDARD = LVTTL;

NET "clk" IOSTANDARD = LVCMOS33;

NET "rst_n" IOSTANDARD = LVTTL   ;



NET seg71_d<6>  LOC = P31 | IOSTANDARD = LVTTL;
NET seg71_d<1>  LOC = P30 | IOSTANDARD = LVTTL;
NET seg71_d<5>  LOC = P27 | IOSTANDARD = LVTTL;
NET seg71_d<2>  LOC = P21 | IOSTANDARD = LVTTL;
NET seg71_d<3>  LOC = P20 | IOSTANDARD = LVTTL;
NET seg71_d<4>  LOC = P15 | IOSTANDARD = LVTTL;
NET seg71_d<0>  LOC = P13 | IOSTANDARD = LVTTL;

NET seg71_sel<0>  LOC = P32 | IOSTANDARD = LVTTL;
NET seg71_sel<1>  LOC = P29 | IOSTANDARD = LVTTL;
NET seg71_sel<2>  LOC = P28 | IOSTANDARD = LVTTL;
NET seg71_sel<3>  LOC = P12 | IOSTANDARD = LVTTL;

NET R2  LOC = P10 | IOSTANDARD = LVTTL;
NET Y2  LOC = P7 | IOSTANDARD = LVTTL;
NET G2  LOC = P6 | IOSTANDARD = LVTTL;
NET R1  LOC = P5 | IOSTANDARD = LVTTL;
NET Y1  LOC = P4 | IOSTANDARD = LVTTL;
NET G1  LOC = P3 | IOSTANDARD = LVTTL;

